<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>367382106570-gfcgfuf29dffkdgem3m9d6aqf3hbr0aj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.367382106570-gfcgfuf29dffkdgem3m9d6aqf3hbr0aj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>367382106570-uqcbvm5jfcddk75990hb3av8i5dluap5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDqZy0uQ5eNluqe5qQ-f9IMs5ub5W59XS8</string>
	<key>GCM_SENDER_ID</key>
	<string>367382106570</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>host.exp.exponent</string>
	<key>PROJECT_ID</key>
	<string>lockitin-native</string>
	<key>STORAGE_BUCKET</key>
	<string>lockitin-native.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:367382106570:ios:e577d3938aed73b9b1ff33</string>
</dict>
</plist>